<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616228424984-905l2qaiu3gvaeptop871270i8habo1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616228424984-905l2qaiu3gvaeptop871270i8habo1k</string>
	<key>API_KEY</key>
	<string>AIzaSyAo419K2ezaK6rLkeoyHXsXBi31yj7hiEg</string>
	<key>GCM_SENDER_ID</key>
	<string>616228424984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>game.center.qc</string>
	<key>PROJECT_ID</key>
	<string>gamecenterqc-f1a41</string>
	<key>STORAGE_BUCKET</key>
	<string>gamecenterqc-f1a41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616228424984:ios:4604f1b7cd6824365de26d</string>
</dict>
</plist>